nav {
    grid-area: navegacion;
    background-color: gray;
    padding-left: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
}
.listas{
    margin: 5px;
    display: inline;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;  
}
.boton_nav {
    color: black;
    background-color: #fff;
}
.boton_nav:hover {
    background-color: rgb(233, 127, 41);
}